[MASTER]
extension-pkg-allow-list=lxml,fitz
init-hook="import sys; sys.path.insert(0, '.')"

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring

[FORMAT]
max-line-length=140